<div class="modal fade" id="noteModal" tabindex="-1" role="dialog" aria-labelledby="noteModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modalLabel">Notes for this Article</h4>
      </div>

      <div class="modal-body" id="modalBody">
        <div class="notes-container">
        </div>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Enter Note Here</span>
          </div>
          <textarea class="form-control" aria-label="With textarea" id="note-to-save">say something</textarea>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-info saveNote">Save Note</button>
      </div>
    </div>
  </div>
</div>